@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
}
.linha1 {
  position: absolute;
  left: 10%;
  width: 4px;
  height: 1920px;
  background-color: gray;
  display: inline-block;
  margin: 0 10px;
  z-index: 999;
}
.linha2 {
  position: absolute;
  left: 25%;
  width: 4px;
  height: 1920px;
  background-color: gray;
  display: inline-block;
  margin: 0 10px;
  z-index: 999;
}
.linha3 {
  position: absolute;
  left: 0;
  top: 12%;
  width: 1920px;
  height: 4px;
  background-color: gray;
  display: inline-block;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.navbar .logo {
  color: #8a2be2;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
}
.navbar .site {
  position: absolute;
  left: 16%;
  color: #8a2be2;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
}
.navbar .search-container {
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 20px;
  padding: 5px 10px;
}
.navbar .search-container input {
  border: none;
  outline: none;
  background: none;
  width: 450px;
  height: 30px;
  margin-right: 5px;
}
.navbar .search-container .search-icon {
  color: #8a2be2;
  font-size: 18px;
  cursor: pointer;
}
.navbar .login {
  color: #8a2be2;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}
